<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">For all your tax needs, come see us. We are located in Prevention Park.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="large text-muted">
                        We are a local Tax preparation business. We are certified professionals, and have over 30 years combined experience. There are no gimmicks or hidden fees. We use a local bank to handle refunds. This means you can cash your checks right here in Frankfort with no fees. No one else around offers that. 
                    </p>
                    <p class="large text-muted">
                        At Premier Bookkeeping Group we believe that you deserve the best quality service at a low rate. This way you get to keep more of YOUR money! Don't let the big names fool you with "up front loans" and gift cards, that comes straight out of your pocket. What we offer here is amazing customer service. We pride ourselves on meeting all of your needs. We do this by sitting down and taking the time to get to know you. This insures that we are getting you everything you are owed! You may come through the door as a customer, but you will leave as Family and friends.<br>Hope to see you soon!
                    </p>
                </div>
            </div>
        </div>
    </section>