<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">From simple to complex, we’ve got you covered.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 extra-padding">
                    <span class="fa-stack fa-3x">
                        <img src="img/services/scales.png" class="img-responsive img-centered">
                    </span>
                    <h4 class="service-heading">Financial Management</h4>
                    <p class="text-muted">Our team of financial experts provide the best in accounting and consulting services.</p>
                </div>
                <div class="col-md-3 extra-padding">
                    <span class="fa-stack fa-3x">
                        <img src="img/services/home.png" class="img-responsive img-centered">
                    </span>
                    <h4 class="service-heading">Personal Tax Preparation</h4>
                    <p class="text-muted">Our low rate services allow you to keep more of your money. Get real help from real people.</p>
                </div>
                <div class="col-md-3 extra-padding">
                    <span class="fa-stack fa-3x">
                        <img src="img/services/cityscape.png" class="img-responsive img-centered">
                    </span>
                    <h4 class="service-heading">Business Tax Preparation</h4>
                    <p class="text-muted">Your business, small or large, can rely on our team of professionals to facilitate success.</p>
                </div>
                <div class="col-md-3 extra-padding">
                    <span class="fa-stack fa-3x">
                        <img src="img/services/office-material.png" class="img-responsive img-centered">
                    </span>
                    <h4 class="service-heading">Bookkeeping</h4>
                    <p class="text-muted">Our cash management expertise provides risk-reducing benefits to secure your financial future.</p>
                </div>
            </div>
        </div>
    </section>